<h2>Newest Additions</h2>

<ul>
  <% @restaurants.each do |r| %>
    <li>
      <h4><%= link_to "#{r.name}", restaurant_path(r) %></h4>
      <h5><%= "#{r.city}, #{r.state}" %></h5>
    </li>
  <% end %>
</ul>

<footer>
  <% if @page_number > 0 %>
    <p><a href = '/?page=<%= @page_number - 1 %>'> Previous Page </a></p>
  <% end %>

  <% if @restaurants.count - ((@page_number + 1) * 10) >= 10 %>
    <p><a href = '/?page=<%= @page_number + 1 %>'> Next Page </a></p>
  <% end %>
</footer>